@import "@/vars.css";

.ProseMirror {
    padding: 0.75rem;
    padding-top: 3.5rem;
    /* Make space for toolbar */
    min-height: 150px;
    max-height: 400px;
    overflow-y: auto;
    outline: none;
}

.ProseMirror > * + * {
    margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
    padding: 0 1rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3 {
    line-height: 1.1;
}

.ProseMirror code {
    background-color: hsla(var(--foreground), 0.1);
    color: hsl(var(--foreground));
    padding: 0.1rem 0.3rem;
    border-radius: 0.25rem;
}

.ProseMirror pre {
    background: hsl(var(--muted));
    color: hsl(var(--muted-foreground));
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.ProseMirror pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}

.ProseMirror mark {
    background-color: #ffc078;
}

.ProseMirror img {
    max-width: 100%;
    height: auto;
}

.ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 2px solid hsl(var(--border));
}

.ProseMirror hr {
    border: none;
    border-top: 2px solid hsl(var(--border));
    margin: 2rem 0;
}

.ProseMirror table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

.ProseMirror th,
.ProseMirror td {
    border: 1px solid hsl(var(--border));
    padding: 0.5rem;
    min-width: 1em;
}

.ProseMirror th {
    font-weight: bold;
    text-align: left;
    background-color: hsl(var(--muted));
}

.ProseMirror .selectedCell:after {
    z-index: 2;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(200, 200, 255, 0.4);
    pointer-events: none;
}

.ProseMirror .column-resize-handle {
    position: absolute;
    right: -2px;
    top: 0;
    bottom: 0;
    width: 4px;
    z-index: 20;
    background-color: #adf;
    pointer-events: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: hsl(var(--muted-foreground));
    pointer-events: none;
    height: 0;
}