@import './vars.css';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 0.775rem;
    line-height: 1.5;
    font-weight: 400;
    /* font-family: 'Lusitana', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-weight: normal;
    font-size: small;
    font-stretch: wider;
    /* font-family: sans-serif; */
    /* font-family: 'oxygen-mono-regular', 'dm-mono-medium', 'Lusitana', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important; */
    /* font-weight: normal; */
    font-family: "ubuntu-regular", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    /* font-family: helvetica, sans-serif; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-optical-sizing: auto;
    font-family: 'Victor Mono', monospace;
    font-family: 'Anonymous Pro', monospace, 'Turret Road', sans-serif, 'Sono', monospace;
    font-family: "Martian Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 0.875rem;
    font-variation-settings: "wdth" 75;
    font-synthesis-position: auto;
    text-justify: kashida;
    font-variant-alternates: unicode;
    font-family: "Raleway", sans-serif;
}

/* 
* {
    font-family: "Raleway", sans-serif;
    font-size: 0.800rem;
    font-family: 'Lusitana', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'oxygen-mono-regular', 'dm-mono-medium', 'Lusitana', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-family: helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*/
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    /* min-width: 320px; */
    /* min-height: 100vh; */
}

/* 
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}